<div class = "nested-fields">
<h3>Owners</h3>
  <div class = "form-group" >
    <%= f.label :owner_name %>
    <%= f.text_field :owner_name, class: "form-control" %>
  </div>
  <div class = "form-group" >
    <%= f.label :owner_post %>
    <%= f.text_field :owner_post, class: "form-control" %>
  </div>
    <%= link_to_remove_association "Remove Owner", f, class: 'btn btn-danger' %>
</div>