<div class = "nested-fields">
  <div class = "field" >
    <%= f.label :owner_name %>
    <%= f.text_field :owner_name %>
  </div>
  <div class = "field" >
    <%= f.label :owner_post %>
    <%= f.text_field :owner_post %>
  </div>
    <%= link_to_remove_association "remove owner", f %>
</div>