<h1>@businesss#show</h1>
<%= @business.title %>
<%= @business.owner_name %>
<%= @business.owner_post %>
<% unless @business.owners.empty? %>
<p>
  <b>Owner</b>
</p>
<% @business.owners.each do |owner| %>
<%= owner.owner_name %>
<%= owner.owner_post %>
<% end %>
<% end %>
<%= @business.info %>
<p>
  <b>Address</b>
</p>
<%= @business.address1 %>
<%= @business.address2 %>
<%= @business.city %>
<%= @business.state %>
<%= @business.country %>
<%= @business.pincode %>
<% unless @business.addresses.empty? %>
<% @business.addresses.each do |address| %>
<%= address.address1 %>
<%= address.address2 %>
<%= address.city %>
<%= address.state %>
<%= address.country %>
<%= address.pincode %>
<% end %>
<% end %>
<br />
<%= @business.email %>
<%= @business.facebook %>
<%= @business.instagram %>
<%= @business.business_pan %>
<%= @business.contact_no %>
<%= @business.add_info_title %>
<%= @business.add_info_info %>
<%= link_to "edit", edit_business_path(@business) %>
<%= link_to "delete", business_path(@business), method: :delete, data: {confirm:"Are you sure?"}%>

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <%= stylesheet_link_tag "business_template1", media: "all" %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */


    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>

<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand"><%= link_to "#{@business.title}", admins_path, class: "navbar-brand" %></a>
        </a>
      </div>
      <li class="active"><a href="#"></a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Work </a></li>
      <li><a href="#">Contact Us</a></li>
    </div>
    </div>
  </nav>

  <div class="jumbotron">
    <div class="container text-center">
      <h1><%= @business.title %></h1>
      <p><%= @business.info %>
      </p>
    </div>
  </div>

  <div class="jumbotron">
    <div class="container text-center">
      <h1><%= @business.owner_name %></h1>
      <p><%= @business.owner_post %></p>
    </div>
  </div>

  <div class="container-fluid bg-3 text-center">
    <h3>Some of my Work</h3><br>
    <div class="row">
      <div class="col-sm-3">
        <p>Some text..</p>
        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-3">
        <p>Some text..</p>
        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-3">
        <p>Some text..</p>
        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-3">
        <p>Some text..</p>
        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      </div>
    </div>
  </div><br>

  <footer class="container-fluid text-center">
    <div id="address">
      <div class="row">
        <div class="col-sm-6">
          <h1>Address</h1>
          <p><%= @business.address1 %></p>
          <p><%= @business.address2 %></p>
          <p><%= @business.city %></p>
          <p><%= @business.state %></p>
          <p><%= @business.country %></p>
          <p><%= @business.pincode %></p>
        </div>
      </div>
    </div>
  </footer>

</body>

</html>