<%= render partial:"layouts/sidebar" %>

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-top">
        <div class="col-10 col-md-8 col-lg-6">
<%= form_with(model: [@resume, @skill], class: "form-group") do |f| %>
<%= hidden_field_tag :resume_id, params[:resume_id] %>

<div class="form-group">
<%= f.label :skill_list %> 
<%= f.text_field :skill_list, autofocus:true, autocomplete: "skill_list", class: "form-control" %>
</div>

<div class="form-group">
<%= f.label :rating %> 
<%= f.select(:rating , Skill::RATING_LEVEL, {prompt: "Select Sub-Field"}, class: "form-control") %>
</div>

<div class="actions">
  <%= f.submit :class => "btn btn-primary" %>
</div>
<% end %>