<% @page_title = "Field choice "%>
<%= render partial:"layouts/sidebar" %>
<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-top">
    <div class="col-10 col-md-8 col-lg-6">
      <%= form_with(model: [@resume, @fieldchoice], class: "form-group", validate: true) do |f|%>
      <%= hidden_field_tag :resume_id, params[:resume_id] %>
      <div class="form-group">
        <p>Select your carrier field</p>
            <%= f.label :main_field %><br />
            <%= f.select :main_field, options_from_collection_for_select(MainField.all, :main_field, :main_field), {prompt: "Select year"}, class: "form-control" %>
      </div>

      <div class="form-group-row">
        <p>Sub-functional Area (what is your job) </p>
        <%= f.label :sub_field %><br />
        <%= f.select :sub_field, options_from_collection_for_select(SubField.all, :sub_field, :sub_field), {prompt: "Select year"}, class: "form-control" %>
      </div>
      <br>
      <div class="form-row">
        <div class="col">
          <%= f.label :exp_year %><br />
          <%= f.select :exp_year,options_for_select((0..30).map {|i| "#{i}" }), {prompt: "Select year"}, class: "form-control" %>
        </div>
        <div class="col">
          <%= f.label :exp_month %><br />
          <%= f.select :exp_month, options_for_select((0..12).map {|i| "#{i}" }), {prompt: "Select month"}, class: "form-control" %>
        </div>
      </div>
      <br>
      <div class="form-group">
        <%= f.submit :class => "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>