<% @page_title = "Field choice "%>
<%= render partial:"layouts/sidebar" %>
<table class="table">
  <thead class="thead">
    <tr>
      <th>Carrier Field</th>
      <th>job</th>
      <th>Experience year</th>
      <th>Experience month</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <% @fieldchoices.each do |fieldchoice| %>
  <tr>
    <td><%= fieldchoice.main_field%></td>
    <td><%= fieldchoice.sub_field%></td>
    <td><%= fieldchoice.exp_year%></td>
    <td><%= fieldchoice.exp_month%></td>
    <td>
      <div class="btn btn-outline-primary fa fa-eye">
        <%= link_to "show", resume_fieldchoice_path(:id => fieldchoice.id) %>
      </div>
    </td>
    <td>
      <div class="btn btn-outline-primary fa fa-edit">
        <%= link_to "edit", edit_resume_fieldchoice_path(:id => fieldchoice.id) %>
      </div>
    </td>
    <td>
      <div class="btn btn-outline-danger fa fa-trash-o">
        <%= link_to "delete", resume_fieldchoice_path(:id => fieldchoice.id), method: :delete, data: {confirm:"Are you sure?"}%>
      </div>
    </td>
    <% end %>
  </tr>
</table>
<% if @fieldchoices.empty? %>
<div class="btn btn-info">
  <%= link_to "create new ", new_resume_fieldchoice_path, :class => "btn" %>
</div>
<% end %>